.Page-container {
  .Page-body {
    padding: 36px 12px 12px;
    max-width: 460px;
    margin: auto;
  }
}

.Page-heading-title {
  color: #00566d;
  font-size: 60px;
}

.Page-heading-info {
  color: #00566d;
  font-size: 22px;
  margin-bottom: 48px;
  font-weight: 100;
}
